@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&family=Pacifico&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "ksface/src/index.scss";

// Colors
$color-black: #000;
$color-white: #fff;
$color-font: #d5d1d8;
$color-primary: #742ead;
$color-secondary: #977aaa;
$color-grey: #4c4452;

// Variables
$spacer: 50px;
$shadow: rgba($color-black, 0.1) 0px 7px 29px 0px;
$transition: all 0.1s;
